html{
  font-size: 62.5%;
}
.App {
  height: 100vh;
  width: 100vw;
  /* background-color: #ffffff; */
  /* background-image: linear-gradient(to right, rgb(242, 172, 42), rgb(43, 43, 226)); */
  overflow: hidden;
  font-size: 1.5rem;
}

.App-header {
  height: 8rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-image: linear-gradient(to right, rgb(242, 172, 42), rgb(43, 43, 226)); */
  background-image: linear-gradient(to right, rgb(161, 153, 138), rgb(123, 123, 167));

}

#welcome-section {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* color: rgb(216, 224, 231); */
  /* background-color: rgb(159, 92, 161); */
  /* background-image: linear-gradient(to right, rgb(114, 146, 235), rgb(107, 125, 226)); */
  background-color: #efcde5;


}
#welcome-section > h2{
  /* background-color: red; */
  text-shadow: 0.5rem 0.4rem 1.5rem black;
  width: 70%;
}
#left-section {
 
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  align-items: center;
  list-style-type: none;

  flex-wrap: wrap;
}

li {
  width: 15rem;
  height: 6rem;
  background-color: rgb(10, 232, 73);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  /* font-weight: bolder; */
  box-shadow: 0.5rem 0.5rem  1rem rgb(28, 27, 27);
}

#right-section {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 
}

#all-cluster {
  height:80vh; /* Adjust as needed */
  width: 90%; /* Adjust as needed */
display: grid;
place-items: center;
/* background-color: red; */
}

main {
  height: 90%;
  width: 100vw;
  display: flex;
  margin: 0;
  padding: 0;
  /* background-image: linear-gradient(to right, rgb(114, 146, 235), rgb(107, 125, 226)); */
  background-color: #efcde5;
  /* background-color: rgb(146, 52, 149); */
}

.canvasjs-chart-credit {
  display: none !important;
}

#present_absent {
  height: 60%; /* Adjust as needed */
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  background-color:#ffffff;
}
